<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

<p>Drivers Info</p>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Country</th>
        <th>Name</th>
        <th>Birthdate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${driver.getId()}">
        <td th:text="${driver.getCountry()}">
        <td th:text="${driver.getName()}">
        <td th:text="${driver.getBirthdate()}">
    </tr>
    </tbody>

</table>

<p>Drivers Cars</p>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Horsepower</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${driver.getCars().getCar()}">
        <td th:text="${car.getId()}">
        <td th:text="${car.getModel()}">
        <td th:text="${car.getHorsepower()}">
        <td>
            <a th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
            <a th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{__${#httpServletRequest.requestURI}__/new}">New Car</a>
<a th:href="@{__${#httpServletRequest.requestURI}__/back}">Back</a>

</body>
</html>