<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Driver</title>
</head>
<body>

<h2>Creat Driver</h2>
<form name="driver" th:action="@{__${#httpServletRequest.requestURI}__}" method="post">

    <p>Country</p>
    <input title="Country" type="text" name="country">
    <p>Name</p>
    <input title="Name" type="text" name="name">
    <p>Birthdate</p>
    <input title="Birthdate" type="text" name="birthdate">

    <button type="submit">Add Driver</button>
</form>

</body>
</html>