<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
</head>
<body>

<h2>Edit Car</h2>
<form th:object="${car}" name="car" th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
    <p>Id</p>
    <input title="Id" type="text" name="id" th:value="${car.getId()}" readonly>
    <p>Model</p>
    <input title="Model" type="text" name="model" th:value="${car.getModel()}">
    <p>Horsepower</p>
    <input title="Horsepower" type="text" name="horsepower" th:value="${car.getHorsepower()}">

    <button type="submit">Update Car</button>
</form>

</body>
</html>