<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Licenses</title>
</head>
<body>

<h1>Drivers Info</h1>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Country</th>
        <th>Name</th>
        <th>Birthdate</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${driver.getId()}">
        <td th:text="${driver.getCountry()}">
        <td th:text="${driver.getName()}">
        <td th:text="${driver.getBirthdate()}">
    </tr>
    </tbody>

</table>

<h1>Drivers Licenses</h1>

<table border="1">
    <thead>
    <tr>
        <th>Status</th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="license : ${driver.getLicenses().getLicense()}">
        <td th:text="${license.getStatus()}">
        <td>
            <a th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
            <a th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{__${#httpServletRequest.requestURI}__/new}">New License</a>
<a th:href="@{__${#httpServletRequest.requestURI}__/back}">Back</a>

</body>
</html>